body {
  /* font-family: 'VT323', monospace; */
  font-size: 10.5px;
  background-color: #EEE7DA;
}


.box {
  padding: 5px 10px;
  background-color: #1b4242;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.pasos {
  background-color: yellow;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-right: 20px;
  position: absolute;
  z-index: 100;
  top: 22%;
  width: 100%;
}

.sim {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1b4242;
  color: #9ec8b9;
}

.ram {
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 10px;
  width: 30%;
  overflow-y: scroll;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #1B4242;
}

.ram td, .ram th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
  text-align: center;
}

.ram h3 {
  text-align: center;
  color: white;
}

.ram tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

.ram th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  text-align: center;
}

#ramButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

#ramButtons button {
  border-radius: 5px;
  font-weight: bold;
}

#cpu {
  position: relative;
  height: 95vh;
}


/* .bus_control {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 64%;
  top: 0px;
  padding: 2px;
  width: 3%;
  border: 2px solid #000;
  background-color: #c1f2b0;
  bottom: 0px;
}

.bus_control h4,
.bus_data h4,
.bus_address h4 {
  width: 20px;
  font-size: 20px;
  letter-spacing: 10px;
  word-wrap: break-word;
}

.bus_data {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 59%;
  top: 0px;
  padding: 2px;
  width: 3%;
  border: 2px solid #000;
  background-color: #65b741;
  bottom: 0px;
}

.bus_address {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 54%;
  top: 0px;
  padding: 2px;
  width: 3%;
  border: 2px solid #000;
  background-color: #ffb534;
  bottom: 0px;
} */

.cpu {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff78a;
  bottom: 0px;
}

.decode_unit {
  position: absolute;
  top: 2%;
  left: 1%;
  background-color: #1B4242;
  border: 2px solid #000;
  padding: 10px;
  overflow-y: scroll;
  bottom: 5%;
  width: 35%;
  color: white;
  font-weight: bold;
}

.decode_unit td, .decode_unit th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

.decode_unit tr:nth-child(even){background-color: #f2f2f2;}

.decode_unit tr:hover {background-color: #ddd;}

.decode_unit th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.value,
.value_address,
.value_flag {
  transition: all 0.5s;
}

.register_address {
  position: absolute;
  width: 15%;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  z-index: 200;
}

.register {
  position: absolute;
  width: 32%;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  z-index: 200;
}

.general_register {
  display: flex;
  position: absolute;
  width: 32%;
  background-color: rgb(217, 218, 157);
  border: 1px solid #000;
  text-align: left;
  justify-content: space-between;
  z-index: 200;
}

.flag_register {
  position: absolute;
  width: 8%;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  z-index: 200;
}

#reg_pc {
  left: 50%;
  top: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7752fe;
  color: white;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_mar {
  right: 15px;
  top: 300px;
  width: 100px;
  height: 100px;
  background-color: #8acdd7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_eax {
  left: 37%;
  top: 48.5%;
  width: 170px;
  background-color: #b99470;
  color: white;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_mbr {
  right: 15px;
  top: 420px;
  width: 100px;
  height: 100px;
  background-color: #c1f2b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_ir {
  right: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  background-color: #ff90bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_r1 {
  left: 40%;
  top: 65%;
  width: 210px;
  background-color: #df826c;
  color: white;
}

#reg_r2 {
  left: 40%;
  top: 68.1%;
  width: 210px;
  background-color: #df826c;
  color: white;
}

#reg_r3 {
  left: 40%;
  top: 71.3%;
  width: 210px;
  background-color: #df826c;
  color: white;
}

#reg_r4 {
  left: 40%;
  top: 74.4%;
  width: 210px;
  background-color: #df826c;
  color: white;
}

#reg_r5 {
  left: 40%;
  top: 77.5%;
  width: 210px;
  background-color: #df826c;
  color: white;
}

#reg_r6 {
  left: 40%;
  top: 80.6%;
  width: 210px;
  background-color: #df826c;
  color: white;
}

#reg_of {
  right: 13%;
  bottom: 5%;
  width: 100px;
  background-color: #fefae0;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_cf {
  right: 29%;
  bottom: 5%;
  width: 100px;
  background-color: #fefae0;
  margin: 0px 10px;
  border: #000 solid 2px;
  border-radius: 5px;
}

#reg_zf {
  right: 45%;
  bottom: 5%;
  width: 100px;
  background-color: #fefae0;
  margin: 0px 20px;
  border: #000 solid 2px;
  border-radius: 5px;
}

#alu,
#cu {
  position: absolute;
  text-align: center;
  padding: 10px;
  display: block;
  width: 15%;
  height: 13%;
}

#alu {
  left: 41.5%;
  top: 38%;
  font-size: medium;
  z-index: 100;
  font-weight: bold;
}

#cu {
  top: 26%;
  right: 25px;
  background-color: #ff6c22;
  font-size: medium;
  color: white;
  font-weight: bold;
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: #000 solid 2px;
  width: 120px;
  height: 120px;
}

#drawing {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
}

.btn {
  margin: 10px;
}

.form-group label {
  text-align: left;
  font-weight: normal;
}

.form-group select {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.value_binary:hover:before {
  font-family: FontAwesome;
}

.value_denary:hover:before {
  font-family: FontAwesome;
}

.value_hex:hover:before {
  font-family: FontAwesome;
}

.edit-text {
  text-align: center;
}

/* #hint {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 80%;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid #000;
	border-radius: 0px 10px 0px 0px;
	z-index: 250;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
	transition: all 1s;
	pointer-events: none;
} */

/* .hint-hidden {
	opacity: 0;
}

#btn_toggle_hint {
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 350;
} */

.fetch_decode_execute {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* .hint_name {
	font-weight: bold;
	color: #F00;
} */

.fetch {
  background-color: #f00;
}

.decode {
  background-color: #0f0;
}

.execute {
  background-color: #00f;
  color: #fff;
}

@keyframes highlight {
  from {
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
  }
  to {
    box-shadow: 0px 0px 30px rgba(255, 0, 0, 1);
  }
}

.active {
  animation: highlight 2s linear infinite alternate;
}

.current_instruction::after {
  content: " \f04b ";
  font-family: FontAwesome;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b4242;
  color: #9ec8b9;
}

select {
  background-color: #1b4242;
  color: #9ec8b9;
  border: 1px solid #9ec8b9;
  height: 30px;
  width: 300px;
  font-size: large;
}

nav {
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
  background-color: #1b4242;
}
